# En este Notebook creamos una tabla de venta de nuestros productos

In [1]:
#Importamos libreria

import pandas as pd
import numpy as np

In [3]:
df = pd.read_pickle("G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Datasets\csv_merged\df_merge_pickle.pkl")

## 1 A crear la tabla de ventas de los productos

In [7]:
# Cambiamos la columna 'pk_partition' en datetime
df['pk_partition'] = pd.to_datetime(df['pk_partition'])

# Sacamos la lista de columna
product_columns = ['loans', 'mortgage', 'funds', 'securities', 'long_term_deposit', 'em_account_pp',
                   'credit_card', 'payroll', 'pension_plan', 'payroll_account', 'emc_account',
                   'debit_card', 'em_account_p', 'em_acount']

# Agrupamos por 'pk_cid' y calculamos la diferencia entre 2 meses consecutivos
df_diff = df.set_index('pk_partition').groupby('pk_cid')[product_columns].resample('M').ffill().diff()

df_diff.head()

                     loans  mortgage  funds  securities  long_term_deposit  \
pk_cid pk_partition
15891  2018-07-31      NaN       NaN    NaN         NaN                NaN
       2018-08-31      0.0       0.0    0.0         0.0                0.0
16063  2018-11-30      0.0       0.0    0.0         0.0                0.0
       2018-12-31      0.0       0.0    0.0         0.0                0.0
       2019-01-31      0.0       0.0    0.0         0.0                0.0

                     em_account_pp  credit_card  payroll  pension_plan  \
pk_cid pk_partition
15891  2018-07-31              NaN          NaN      NaN           NaN
       2018-08-31              0.0          0.0      0.0           0.0
16063  2018-11-30              0.0          0.0      0.0           0.0
       2018-12-31              0.0          0.0      0.0           0.0
       2019-01-31              0.0          0.0      0.0           0.0

                     payroll_account  emc_account  debit_card  em_account_p  \
pk_cid pk_partition
15891  2018-07-31                NaN          NaN         NaN           NaN
       2018-08-31                0.0          0.0         0.0           0.0
16063  2018-11-30                0.0          0.0         0.0           0.0
       2018-12-31                0.0          0.0         0.0           0.0
       2019-01-31                0.0          0.0         0.0           0.0

                     em_acount
pk_cid pk_partition
15891  2018-07-31          NaN
       2018-08-31         -1.0
16063  2018-11-30          0.0
       2018-12-31          0.0
       2019-01-31          0.0

In [ ]:
df_diff.to_pickle(r'G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Datasets\csv_merged\df_diff.pickle')

In [17]:
df_diff.tail(100)

,,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
pk_cid,pk_partition,,,,,,,,,,,,,,
1553559,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1553560,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
1553561,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1553562,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1553564,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553685,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1553686,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1553687,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1553688,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1553689,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_diff.shape

(5974317, 14)

In [11]:
df.shape

(5962924, 29)

In [27]:
df.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,tenencia
0,1375586,2018-01-28,2018-01-12,KHL,1.0,02 - PARTICULARES,ES,29,H,35,...,0,0,0,0,0,0,0,0,1,1
1,1050611,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,ES,13,V,23,...,0,0,0,0,0,0,0,0,1,1
2,1050612,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,ES,13,V,23,...,0,0,0,0,0,0,0,0,1,1
3,1050613,2018-01-28,2015-08-10,KHD,0.0,03 - UNIVERSITARIO,ES,50,H,22,...,0,0,0,0,0,0,0,0,0,1
4,1050614,2018-01-28,2015-08-10,KHE,1.0,03 - UNIVERSITARIO,ES,50,V,23,...,0,0,0,0,0,0,0,0,1,1

In [23]:
df_diff.loc[1166773]

,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
pk_partition,,,,,,,,,,,,,,
2018-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2018-04-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0
2018-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-06-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-07-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-08-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-09-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
2018-10-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-11-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-03-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-04-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Ahora vamos a generar la tabla de venta

De momento tenemos : 
1. 0 si 2 rows are identicas (no hubo venta o baja)
2. 1 si hay una venta
3. -1 si hay una baja

In [ ]:
# Por cada row y cada producto creamos una columna de venta "sale_{column_name}":
for col in product_columns:
    df_diff[f"sale_{col}"] = df_diff[col].apply(lambda x: 1 if x == 1 else 0)

print(df_diff)

In [36]:
df[df['pk_cid']==16203]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,tenencia
3628238,16203,2018-12-28,2018-12-23,KAT,0.0,UNKNOWN,ES,8,V,70,...,0,0,0,0,0,0,0,0,0,0
4028170,16203,2019-01-28,2018-12-23,KAT,1.0,02 - PARTICULARES,ES,8,V,70,...,0,0,0,0,0,0,0,0,1,1
4480636,16203,2019-02-28,2018-12-23,KAT,1.0,01 - TOP,ES,8,V,70,...,0,0,0,0,0,0,0,0,1,1
4876039,16203,2019-03-28,2018-12-23,KAT,1.0,01 - TOP,ES,8,V,70,...,0,0,0,0,0,0,0,0,1,1
5134321,16203,2019-04-28,2018-12-23,KAT,1.0,01 - TOP,ES,8,V,70,...,0,0,0,0,0,0,0,0,1,1
5523396,16203,2019-05-28,2018-12-23,KAT,1.0,01 - TOP,ES,8,V,70,...,0,0,0,0,0,0,0,0,1,1

Hemos confirmado con varios pk_cid que los resultados eran buenos

In [38]:
df_diff.columns.to_list()

['loans',
 'mortgage',
 'funds',
 'securities',
 'long_term_deposit',
 'em_account_pp',
 'credit_card',
 'payroll',
 'pension_plan',
 'payroll_account',
 'emc_account',
 'debit_card',
 'em_account_p',
 'em_acount',
 'sale_loans',
 'sale_mortgage',
 'sale_funds',
 'sale_securities',
 'sale_long_term_deposit',
 'sale_em_account_pp',
 'sale_credit_card',
 'sale_payroll',
 'sale_pension_plan',
 'sale_payroll_account',
 'sale_emc_account',
 'sale_debit_card',
 'sale_em_account_p',
 'sale_em_acount']

In [39]:
df_diff.groupby('pk_partition')['sale_loans',
 'sale_mortgage',
 'sale_funds',
 'sale_securities',
 'sale_long_term_deposit',
 'sale_em_account_pp',
 'sale_credit_card',
 'sale_payroll',
 'sale_pension_plan',
 'sale_payroll_account',
 'sale_emc_account',
 'sale_debit_card',
 'sale_em_account_p',
 'sale_em_acount'].sum()

C:\Users\Tanguy\AppData\Local\Temp\ipykernel_24616\1279279999.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_diff.groupby('pk_partition')['sale_loans',

,sale_loans,sale_mortgage,sale_funds,sale_securities,sale_long_term_deposit,sale_em_account_pp,sale_credit_card,sale_payroll,sale_pension_plan,sale_payroll_account,sale_emc_account,sale_debit_card,sale_em_account_p,sale_em_acount
pk_partition,,,,,,,,,,,,,,
2018-01-31,18,15,770,906,4602,0,3156,7520,8111,11872,11960,20182,2,57286
2018-02-28,0,0,97,68,224,0,508,1963,2003,970,807,3688,0,2539
2018-03-31,4,2,119,47,255,0,733,1717,1732,1010,914,4036,0,2536
2018-04-30,3,1,126,45,241,0,651,1341,1850,1084,840,3481,0,2264
2018-05-31,3,1,82,47,351,0,620,1591,1601,1117,864,3169,0,2462
2018-06-30,0,1,53,41,379,0,748,2154,2688,1111,684,3678,0,4278
2018-07-31,1,1,54,59,447,0,757,2303,2499,1644,549,3948,0,4097
2018-08-31,2,0,63,101,344,0,694,1640,1663,1552,446,3653,0,6798
2018-09-30,2,0,38,77,494,0,749,2143,2187,1072,585,5274,0,7009
2018-10-31,2,0,40,179,499,0,742,2384,2409,1396,569,6311,0,10420
2018-11-30,0,0,52,39,363,0,713,2327,2365,1851,943,5249,0,6518
2018-12-31,1,0,60,86,462,0,663,2581,2675,2280,900,5146,0,6738
2019-01-31,1,1,35,253,193,0,653,1453,1703,1360,1175,4677,0,4349
2019-02-28,1,0,25,120,217,0,708,4034,4688,1376,1234,6123,0,3768
2019-03-31,3,0,28,65,76,0,741,2386,2453,1514,1032,5568,0,4331
2019-04-30,2,3,26,43,27,0,713,2187,2323,1475,1282,4997,0,3425
2019-05-31,0,0,18,39,12,0,761,2764,2819,1531,1605,5136,0,3366

In [40]:
df_diff.head()

                     loans  mortgage  funds  securities  long_term_deposit  \
pk_cid pk_partition
15891  2018-07-31      NaN       NaN    NaN         NaN                NaN
       2018-08-31      0.0       0.0    0.0         0.0                0.0
16063  2018-11-30      0.0       0.0    0.0         0.0                0.0
       2018-12-31      0.0       0.0    0.0         0.0                0.0
       2019-01-31      0.0       0.0    0.0         0.0                0.0

                     em_account_pp  credit_card  payroll  pension_plan  \
pk_cid pk_partition
15891  2018-07-31              NaN          NaN      NaN           NaN
       2018-08-31              0.0          0.0      0.0           0.0
16063  2018-11-30              0.0          0.0      0.0           0.0
       2018-12-31              0.0          0.0      0.0           0.0
       2019-01-31              0.0          0.0      0.0           0.0

                     payroll_account  ...  sale_long_term_deposit  \
pk_cid pk_partition                   ...
15891  2018-07-31                NaN  ...                       0
       2018-08-31                0.0  ...                       0
16063  2018-11-30                0.0  ...                       0
       2018-12-31                0.0  ...                       0
       2019-01-31                0.0  ...                       0

                     sale_em_account_pp  sale_credit_card  sale_payroll  \
pk_cid pk_partition
15891  2018-07-31                     0                 0             0
       2018-08-31                     0                 0             0
16063  2018-11-30                     0                 0             0
       2018-12-31                     0                 0             0
       2019-01-31                     0                 0             0

                     sale_pension_plan  sale_payroll_account  \
pk_cid pk_partition
15891  2018-07-31                    0                     0
       2018-08-31                    0                     0
16063  2018-11-30                    0                     0
       2018-12-31                    0                     0
       2019-01-31                    0                     0

                     sale_emc_account  sale_debit_card  sale_em_account_p  \
pk_cid pk_partition
15891  2018-07-31                   0                0                  0
       2018-08-31                   0                0                  0
16063  2018-11-30                   0                0                  0
       2018-12-31                   0                0                  0
       2019-01-31                   0                0                  0

                     sale_em_acount
pk_cid pk_partition
15891  2018-07-31                 0
       2018-08-31                 0
16063  2018-11-30                 0
       2018-12-31                 0
       2019-01-31                 0

[5 rows x 28 columns]

In [43]:
df_diff.tail()

,,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,...,sale_long_term_deposit,sale_em_account_pp,sale_credit_card,sale_payroll,sale_pension_plan,sale_payroll_account,sale_emc_account,sale_debit_card,sale_em_account_p,sale_em_acount
pk_cid,pk_partition,,,,,,,,,,,,,,,,,,,,,
1553685,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1553686,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1553687,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1553688,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1553689,2019-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

Los pk_partition han sido transformando en el resample, vamos a transformarlos para que los días sean todos igual a 28

In [44]:
df_diff.reset_index(inplace=True)

In [ ]:
df_diff['pk_partition'] = df_diff['pk_partition'].astype(str).str.replace(r'-30$', '-28').str.replace(r'-31$', '-28')

In [47]:
df_diff.head(30)

,pk_cid,pk_partition,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,...,sale_long_term_deposit,sale_em_account_pp,sale_credit_card,sale_payroll,sale_pension_plan,sale_payroll_account,sale_emc_account,sale_debit_card,sale_em_account_p,sale_em_acount
0,15891,2018-07-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,15891,2018-08-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,16063,2018-11-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,16063,2018-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,16063,2019-01-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
5,16063,2019-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
6,16063,2019-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
7,16063,2019-04-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
8,16063,2019-05-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
9,16203,2018-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
10,16203,2019-01-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
11,16203,2019-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
12,16203,2019-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
13,16203,2019-04-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
14,16203,2019-05-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
15,16502,2018-09-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
16,16502,2018-10-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
17,16502,2018-11-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
18,16502,2018-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19,16502,2019-01-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
20,16502,2019-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
21,16502,2019-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
22,16502,2019-04-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
23,16502,2019-05-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
24,17457,2018-01-28,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
25,17457,2018-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
26,17457,2018-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
27,17457,2018-04-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
28,17457,2018-05-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
29,17457,2018-06-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

Vamos a proceder al merge

In [49]:
#primero sacamos la lista de columna que nos interesa

col_merge = ['pk_cid', 
 'pk_partition', 
 'sale_loans',
 'sale_mortgage',
 'sale_funds',
 'sale_securities',
 'sale_long_term_deposit',
 'sale_em_account_pp',
 'sale_credit_card',
 'sale_payroll',
 'sale_pension_plan',
 'sale_payroll_account',
 'sale_emc_account',
 'sale_debit_card',
 'sale_em_account_p',
 'sale_em_acount']

In [54]:
df_diff['pk_partition'] = pd.to_datetime(df_diff['pk_partition'])

In [57]:
df_merged = df.merge(df_diff[col_merge], on=['pk_cid', 'pk_partition'])

In [60]:
df_merged[df_merged['pk_cid']==16502]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,sale_long_term_deposit,sale_em_account_pp,sale_credit_card,sale_payroll,sale_pension_plan,sale_payroll_account,sale_emc_account,sale_debit_card,sale_em_account_p,sale_em_acount
2171490,16502,2018-09-28,2018-09-30,UNKNOWN,0.0,UNKNOWN,ES,28,H,57,...,0,0,0,0,0,0,0,0,0,0
2943633,16502,2018-10-28,2018-09-30,KHN,1.0,02 - PARTICULARES,ES,28,H,58,...,0,0,0,0,0,0,0,0,0,1
2962972,16502,2018-11-28,2018-09-30,KHN,1.0,02 - PARTICULARES,ES,28,H,58,...,0,0,0,0,0,0,0,0,0,0
3628237,16502,2018-12-28,2018-09-30,KHN,1.0,02 - PARTICULARES,ES,28,H,58,...,0,0,0,0,0,0,0,0,0,0
4028330,16502,2019-01-28,2018-09-30,KHN,1.0,02 - PARTICULARES,ES,28,H,58,...,0,0,0,0,0,0,1,0,0,0
4480638,16502,2019-02-28,2018-09-30,KHN,1.0,02 - PARTICULARES,ES,28,H,58,...,0,0,0,0,0,0,0,0,0,0
4876038,16502,2019-03-28,2018-09-30,KHN,1.0,02 - PARTICULARES,ES,28,H,58,...,0,0,0,0,0,0,0,0,0,0
5134320,16502,2019-04-28,2018-09-30,KHN,1.0,02 - PARTICULARES,ES,28,H,58,...,0,0,0,0,0,0,0,0,0,0
5523395,16502,2019-05-28,2018-09-30,KHN,1.0,02 - PARTICULARES,ES,28,H,58,...,0,0,0,0,0,0,0,0,0,0

Guardamos los archivos

In [61]:
df_merged.to_pickle(r"G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Datasets\csv_merged\df_merge_pickle_V2.pkl")

In [62]:
df_merged.to_csv(r"G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Datasets\csv_merged\df_merge_pickle_V2.csv")

In [64]:
tabla_venta = df_merged.groupby('pk_partition')['sale_loans',
 'sale_mortgage',
 'sale_funds',
 'sale_securities',
 'sale_long_term_deposit',
 'sale_em_account_pp',
 'sale_credit_card',
 'sale_payroll',
 'sale_pension_plan',
 'sale_payroll_account',
 'sale_emc_account',
 'sale_debit_card',
 'sale_em_account_p',
 'sale_em_acount'].sum()

C:\Users\Tanguy\AppData\Local\Temp\ipykernel_24616\1318522034.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tabla_venta = df_merged.groupby('pk_partition')['sale_loans',

In [ ]:
tabla_venta.to_csv(r"G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Datasets\tabla_venta\tabla_venta_V2.csv")

In [2]:
df = pd.read_pickle(r"G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Datasets\csv_merged\df_merge_pickle_V2.pkl")
df.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,sale_long_term_deposit,sale_em_account_pp,sale_credit_card,sale_payroll,sale_pension_plan,sale_payroll_account,sale_emc_account,sale_debit_card,sale_em_account_p,sale_em_acount
0,1375586,2018-01-28,2018-01-12,KHL,1.0,02 - PARTICULARES,ES,29,H,35,...,0,0,0,0,0,0,0,0,0,0
1,1050611,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,ES,13,V,23,...,0,0,0,0,0,0,0,0,0,0
2,1050612,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,ES,13,V,23,...,0,0,0,0,0,0,0,0,0,0
3,1050613,2018-01-28,2015-08-10,KHD,0.0,03 - UNIVERSITARIO,ES,50,H,22,...,0,0,0,0,0,0,0,0,0,0
4,1050614,2018-01-28,2015-08-10,KHE,1.0,03 - UNIVERSITARIO,ES,50,V,23,...,0,0,0,0,0,0,0,0,0,1

Cambiamos el tipo de las columnas sales a int8 para que el archivo sea optimizado en tamaño y para futuros calculos

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5962924 entries, 0 to 5962923
Data columns (total 43 columns):
 #   Column                  Dtype
---  ------                  -----
 0   pk_cid                  int64
 1   pk_partition            datetime64[ns]
 2   entry_date              object
 3   entry_channel           object
 4   active_customer         float64
 5   segment                 object
 6   country_id              object
 7   region_code             int64
 8   gender                  object
 9   age                     int8
 10  deceased                int8
 11  salary                  float64
 12  age_group               int8
 13  short_term_deposit      int8
 14  loans                   int8
 15  mortgage                int8
 16  funds                   int8
 17  securities              int8
 18  long_term_deposit       int8
 19  em_account_pp           int8
 20  credit_card             int8
 21  payroll                 int8
 22  pension_plan            int8
 23  payroll_account         int8
 24  emc_account             int8
 25  debit_card              int8
 26  em_account_p            int8
 27  em_acount               int8
 28  tenencia                int8
 29  sale_loans              int64
 30  sale_mortgage           int64
 31  sale_funds              int64
 32  sale_securities         int64
 33  sale_long_term_deposit  int64
 34  sale_em_account_pp      int64
 35  sale_credit_card        int64
 36  sale_payroll            int64
 37  sale_pension_plan       int64
 38  sale_payroll_account    int64
 39  sale_emc_account        int64
 40  sale_debit_card         int64
 41  sale_em_account_p       int64
 42  sale_em_acount          int64
dtypes: datetime64[ns](1), float64(2), int64(16), int8(19), object(5)
memory usage: 1.2+ GB

In [4]:
df.columns.tolist()

['pk_cid',
 'pk_partition',
 'entry_date',
 'entry_channel',
 'active_customer',
 'segment',
 'country_id',
 'region_code',
 'gender',
 'age',
 'deceased',
 'salary',
 'age_group',
 'short_term_deposit',
 'loans',
 'mortgage',
 'funds',
 'securities',
 'long_term_deposit',
 'em_account_pp',
 'credit_card',
 'payroll',
 'pension_plan',
 'payroll_account',
 'emc_account',
 'debit_card',
 'em_account_p',
 'em_acount',
 'tenencia',
 'sale_loans',
 'sale_mortgage',
 'sale_funds',
 'sale_securities',
 'sale_long_term_deposit',
 'sale_em_account_pp',
 'sale_credit_card',
 'sale_payroll',
 'sale_pension_plan',
 'sale_payroll_account',
 'sale_emc_account',
 'sale_debit_card',
 'sale_em_account_p',
 'sale_em_acount']

In [5]:
 columns_to_convert = ['sale_loans',
 'sale_mortgage',
 'sale_funds',
 'sale_securities',
 'sale_long_term_deposit',
 'sale_em_account_pp',
 'sale_credit_card',
 'sale_payroll',
 'sale_pension_plan',
 'sale_payroll_account',
 'sale_emc_account',
 'sale_debit_card',
 'sale_em_account_p',
 'sale_em_acount']

In [6]:
df[columns_to_convert] = df[columns_to_convert].astype('int8')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5962924 entries, 0 to 5962923
Data columns (total 43 columns):
 #   Column                  Dtype
---  ------                  -----
 0   pk_cid                  int64
 1   pk_partition            datetime64[ns]
 2   entry_date              object
 3   entry_channel           object
 4   active_customer         float64
 5   segment                 object
 6   country_id              object
 7   region_code             int64
 8   gender                  object
 9   age                     int8
 10  deceased                int8
 11  salary                  float64
 12  age_group               int8
 13  short_term_deposit      int8
 14  loans                   int8
 15  mortgage                int8
 16  funds                   int8
 17  securities              int8
 18  long_term_deposit       int8
 19  em_account_pp           int8
 20  credit_card             int8
 21  payroll                 int8
 22  pension_plan            int8
 23  payroll_account         int8
 24  emc_account             int8
 25  debit_card              int8
 26  em_account_p            int8
 27  em_acount               int8
 28  tenencia                int8
 29  sale_loans              int8
 30  sale_mortgage           int8
 31  sale_funds              int8
 32  sale_securities         int8
 33  sale_long_term_deposit  int8
 34  sale_em_account_pp      int8
 35  sale_credit_card        int8
 36  sale_payroll            int8
 37  sale_pension_plan       int8
 38  sale_payroll_account    int8
 39  sale_emc_account        int8
 40  sale_debit_card         int8
 41  sale_em_account_p       int8
 42  sale_em_acount          int8
dtypes: datetime64[ns](1), float64(2), int64(2), int8(33), object(5)
memory usage: 688.1+ MB

In [7]:
df.to_pickle(r"G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Datasets\csv_merged\df_merge_pickle_V2.pkl")

In [8]:
df.to_csv(r"G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Datasets\csv_merged\df_merge_pickle_V2.csv")